In [3]:
# from childhoo, diction we use, how we used , find sequential meaning
d={}

In [4]:
type(d)

dict

In [5]:
d= ()

In [6]:
print(f"d type {type(d)}")
d1={1,2,3}
print(f"d1 type {type(d1)}")

d type <class 'tuple'>
d1 type <class 'set'>

In [7]:
d1 = {"name" : "sudh" , "emiil_id" : "ss@gmail.com" , "number" :234324}

In [8]:
type(d1)

dict

In [9]:
d1

{'name': 'sudh', 'emiil_id': 'ss@gmail.com', 'number': 234324}

In [11]:
d2 = {"name" : "Bapu" , "name" : "Bapukokare"}

In [12]:
#key cant be repeated
#not show first key and value: key always should be unique, dict not allow to keep 2,3 key name
d2

{'name': 'Bapukokare'}

In [13]:
#key can be numeric, floaiting point number, boolean 
d3 = {234234 : "abc"}

In [12]:
d3

{234234: 'abc'}

In [14]:
d4 = {234.45 : "abc"}

In [15]:
d4

{234.45: 'abc'}

In [16]:
d5 = {True : "abc"}

In [17]:
d5

{True: 'abc'}

In [18]:
d5

{True: 'abc'}

In [19]:
#special characters as key are not allowed 
d6 = {# : "abc"}

SyntaxError: incomplete input (1865483191.py, line 2)

In [20]:
d7 = {@ : "abc"}

SyntaxError: invalid syntax (183635709.py, line 1)

In [21]:
#list as key will not work
d8 = {[1,2,3] :"abc"}

TypeError: unhashable type: 'list'

In [22]:
# dict key as tuple works
d9 = {(1,2,3) : "abc"}

In [22]:
d9

{(1, 2, 3): 'abc'}

In [23]:
#set as key will not workable
d10 = {{1,2,3} :"abc"}

TypeError: unhashable type: 'set'

In [24]:
# inside dict key as dict will not work, only tuple can be accepted as key
d11 = {{"key":234} : "abc"}

TypeError: unhashable type: 'dict'

In [25]:
#now focus on value part

d12 = {"course_name" : ["data science master" , "web dev" ,"java with dsa and system Design"]}

In [26]:
d12

{'course_name': ['data science master',
  'web dev',
  'java with dsa and system Design']}

In [26]:
# value as tuple
d13 = {"key" : (1,2,3,4,5)}

In [28]:
# value as set
d14 = {"key" :{1,2,3,4}}

In [27]:
#value as dictionaey
d15 = {"key" : {"name" : "sudhanshu" , "class" : "DSM"}}

In [30]:
#dictionary inside dictionary called as nested dictionary
d15

{'key': {'name': 'sudhanshu', 'class': 'DSM'}}

In [28]:
d16 = {"batch_name" :["data science masters" , "web dev" , "JDS"] , "start_date": (28,14,21),"mentor_name" : {"krish naik", "sudhanshu" , "hitesh", "anurag" , "navin","hayder"}}

In [29]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'}}

In [30]:
# add new key and value in existing diction
d16["timing"] = (8 , 8 ,8)

In [31]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [32]:
#get dictionary key details
d16['batch_name']

['data science masters', 'web dev', 'JDS']

In [33]:

type(d16['mentor_name'])

set

In [34]:
d16["key"]

KeyError: 'key'

In [35]:
# create as new key value
d16["name"]  = "sudhanshu"

In [36]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [37]:
#make upper class in dictionary
d16['name'].upper()

'SUDHANSHU'

In [38]:
#nested dictionary
d15

{'key': {'name': 'sudhanshu', 'class': 'DSM'}}

In [39]:
d15['key']

{'name': 'sudhanshu', 'class': 'DSM'}

In [40]:
type(d15['key'])

dict

In [41]:
#acccess nested disction key value
d15['key']['class']

'DSM'

In [42]:
d15

{'key': {'name': 'sudhanshu', 'class': 'DSM'}}

In [43]:
d15["key1"] = "abc"

In [44]:
d15

{'key': {'name': 'sudhanshu', 'class': 'DSM'}, 'key1': 'abc'}

In [45]:
del d15['key1']

In [46]:
d15

{'key': {'name': 'sudhanshu', 'class': 'DSM'}}

In [47]:
#clear dictionary: wipe out complete data inside diction
d15.clear()

In [48]:
d15

{}

In [49]:
len(d16)

5

In [50]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [51]:
# complete set of keys
d16.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [52]:
#get dictionary values
d16.values()

dict_values([['data science masters', 'web dev', 'JDS'], (28, 14, 21), {'anurag', 'hitesh', 'navin', 'sudhanshu', 'krish naik', 'hayder'}, (8, 8, 8), 'sudhanshu'])

In [53]:
#convert dict values to list
list(d16.values())

[['data science masters', 'web dev', 'JDS'],
 (28, 14, 21),
 {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'},
 (8, 8, 8),
 'sudhanshu']

In [54]:
#convert keys to list
list(d16.keys())

['batch_name', 'start_date', 'mentor_name', 'timing', 'name']

In [55]:
# get all items list of dictionary
list(d16.items())

[('batch_name', ['data science masters', 'web dev', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('mentor_name',
  {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}),
 ('timing', (8, 8, 8)),
 ('name', 'sudhanshu')]

In [56]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [57]:
#deep copy approach
#create replica of dictionary called as deep copy , 
d17 = d16.copy()

In [67]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [58]:
del d16['name']

In [59]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [61]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [62]:
#shallow copy: any change in both dict, will refelct in both diction
d18 = d16

In [63]:

d18

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [64]:
#copy method replicate complete memory data to different memory location
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [75]:
#pop require one argument as key name
d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [65]:
#pass key timing
d16.pop('timing')

(8, 8, 8)

In [66]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'}}

In [67]:
d16.pop('mentor_name')

{'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}

In [69]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21)}

In [72]:
# create multiple keys and pass value at a time with
d={}
d.fromkeys((1,2,3) , ('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [73]:
d19 = {"key1" : "value" , "key2" : "value2"}
d20 = {"key3" : "value3" , "key4" :"value4"}

In [74]:
# dictionary inside tuple
(d19,d20)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [75]:
#d19 update or include d20 values 
d19.update(d20)

In [76]:
d19

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [77]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [78]:
d20.update(d19)

In [80]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [81]:
# get key value
d20.get("sudh")

In [82]:
d20.get("key3")

'value3'

In [83]:
#
d20["key3"]

'value3'

In [84]:
d20["sudh"]

KeyError: 'sudh'

Dictionary Comprehensions

In [85]:
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [86]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
{i : i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [72]:
import math
d21 = {i :math.log10(i) for i in range(1,11)}

In [89]:
#sory dictionary by key or value, and rerank 
dl1= {i : i**2 for i in range(1,11)}

In [98]:
dl1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [94]:
dl2 = sorted(dl1.items(),key= lambda item:item[1], reverse=True)

In [95]:
dl2

[(10, 100),
 (9, 81),
 (8, 64),
 (7, 49),
 (6, 36),
 (5, 25),
 (4, 16),
 (3, 9),
 (2, 4),
 (1, 1)]

In [99]:
dl2.keys()

AttributeError: 'list' object has no attribute 'keys'

In [100]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21)}

In [101]:
'batch_name' in d16

True

In [109]:
dl1
d21= dl1.copy()
d21

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [107]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [108]:
for i in d21.keys():
    if i % 2 == 0 :
        print(d21[i])

4
16
36
64
100

In [110]:
d21.values()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [111]:
import numpy as np
import pandas as pd
df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
                                  'spider', 'snake'],
                        'Number_legs': [4, 2, 4, 8, np.nan]})

In [112]:
df

    Animal  Number_legs
0      cat          4.0
1  penguin          2.0
2      dog          4.0
3   spider          8.0
4    snake          NaN

In [113]:
df['default rank'] = df['Number_legs'].rank()
df

    Animal  Number_legs  default rank
0      cat          4.0           2.5
1  penguin          2.0           1.0
2      dog          4.0           2.5
3   spider          8.0           4.0
4    snake          NaN           NaN

In [117]:
df['max_rank']=df['Number_legs'].rank(method='max')
df

    Animal  Number_legs  default rank  max_rank  NA_bottom  pct_rank
0      cat          4.0           2.5       3.0        2.5     0.625
1  penguin          2.0           1.0       1.0        1.0     0.250
2      dog          4.0           2.5       3.0        2.5     0.625
3   spider          8.0           4.0       4.0        4.0     1.000
4    snake          NaN           NaN       NaN        5.0       NaN

In [118]:
# Rank the 'Number_legs' column, placing NaNs at the bottom
df['NA_bottom'] = df['Number_legs'].rank(na_option='bottom')
df

    Animal  Number_legs  default rank  max_rank  NA_bottom  pct_rank
0      cat          4.0           2.5       3.0        2.5     0.625
1  penguin          2.0           1.0       1.0        1.0     0.250
2      dog          4.0           2.5       3.0        2.5     0.625
3   spider          8.0           4.0       4.0        4.0     1.000
4    snake          NaN           NaN       NaN        5.0       NaN

In [119]:
# Calculate the percentage rank of the 'Number_legs' column
df['pct_rank'] = df['Number_legs'].rank(pct=True)
df

    Animal  Number_legs  default rank  max_rank  NA_bottom  pct_rank
0      cat          4.0           2.5       3.0        2.5     0.625
1  penguin          2.0           1.0       1.0        1.0     0.250
2      dog          4.0           2.5       3.0        2.5     0.625
3   spider          8.0           4.0       4.0        4.0     1.000
4    snake          NaN           NaN       NaN        5.0       NaN

In [104]:

df["Animal"]= df["Number_legs"].sort_values()
"""
Sorts the 'Number_legs' column in the DataFrame and assigns the sorted values to a new column 'Animal'.

Parameters:
df (pandas.DataFrame): The DataFrame containing the 'Number_legs' column to be sorted.

Returns:
None: The function modifies the DataFrame in place by adding a new column 'Animal' with sorted values from 'Number_legs'.

Note:
- The original 'Number_legs' column remains unchanged.
- The sorting is done in ascending order by default.

Example:
>>> df = pd.DataFrame({'Number_legs': [4, 2, 8, 6]})
>>> df["Animal"] = df["Number_legs"].sort_values()
>>> print(df)
    Number_legs  Animal
0            4       2
1            2       4
2            8       6
3            6       8
"""

In [120]:
df

    Animal  Number_legs  default rank  max_rank  NA_bottom  pct_rank
0      cat          4.0           2.5       3.0        2.5     0.625
1  penguin          2.0           1.0       1.0        1.0     0.250
2      dog          4.0           2.5       3.0        2.5     0.625
3   spider          8.0           4.0       4.0        4.0     1.000
4    snake          NaN           NaN       NaN        5.0       NaN

In [121]:
d1 = {1,2,34}
d={}
type(d)

dict

In [122]:
# Example: Merging two dictionaries using the `update` method
d22 = {'a': 1, 'b': 2}
d23 = {'b': 3, 'c': 4}
d22.update(d23)
print(d22)  # Output: {'a': 1, 'b': 3, 'c': 4}

# Example: Using dictionary comprehension to create a dictionary
squares = {x: x*x for x in range(6)}
print(squares)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Example: Accessing keys and values in a dictionary
keys = d22.keys()
values = d22.values()
print(keys)    # Output: dict_keys(['a', 'b', 'c'])
print(values)  # Output: dict_values([1, 3, 4])

# Example: Iterating over a dictionary
for key, value in d22.items():
    print(f"Key: {key}, Value: {value}")
# Output:
# Key: a, Value: 1
# Key: b, Value: 3
# Key: c, Value: 4

# Example: Using the `get` method to access values
value = d22.get('a', 'default_value')
print(value)  # Output: 1

# Example: Removing a key-value pair using `pop`
removed_value = d22.pop('a')
print(removed_value)  # Output: 1
print(d22)            # Output: {'b': 3, 'c': 4}

# Example: Checking if a key exists in a dictionary
key_exists = 'b' in d22
print(key_exists)  # Output: True

# Example: Creating a dictionary with default values using `fromkeys`
keys = ['a', 'b', 'c']
default_dict = dict.fromkeys(keys, 0)
print(default_dict)  # Output: {'a': 0, 'b': 0, 'c': 0}

{'a': 1, 'b': 3, 'c': 4}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
dict_keys(['a', 'b', 'c'])
dict_values([1, 3, 4])
Key: a, Value: 1
Key: b, Value: 3
Key: c, Value: 4
1
1
{'b': 3, 'c': 4}
True
{'a': 0, 'b': 0, 'c': 0}

In [126]:
# Example 1: Creating a dictionary
d1 = {'a': 1, 'b': 2, 'c': 3}
print(d1)

# Example 2: Accessing a value by key
print(d1['a'])

# Example 3: Adding a new key-value pair
d1['d'] = 4
print(d1)

# Example 4: Updating an existing key-value pair
d1['a'] = 10
print(d1)

# Example 5: Removing a key-value pair using del
del d1['b']
print(d1)

# Example 6: Removing a key-value pair using pop
value = d1.pop('c')
print(value)
print(d1)

# Example 7: Checking if a key exists in the dictionary
print('a' in d1)
print('b' in d1)

# Example 8: Getting the value of a key using get
print(d1.get('a'))
print(d1.get('b', 'default_value'))

# Example 9: Getting all keys in the dictionary
print(d1.keys())

# Example 10: Getting all values in the dictionary
print(d1.values())

# Example 11: Getting all key-value pairs in the dictionary
print(d1.items())

# Example 12: Iterating over keys in the dictionary
for key in d1.keys():
    print(key)

# Example 13: Iterating over values in the dictionary
for value in d1.values():
    print(value)

# Example 14: Iterating over key-value pairs in the dictionary
for key, value in d1.items():
    print(f"Key: {key}, Value: {value}")

# Example 15: Creating a dictionary with default values using fromkeys
keys = ['x', 'y', 'z']
d2 = dict.fromkeys(keys, 0)
print(d2)

# Example 16: Merging two dictionaries using update
d3 = {'e': 5, 'f': 6}
d1.update(d3)
print(d1)

# Example 17: Copying a dictionary using copy
d4 = d1.copy()
print(d4)

# Example 18: Clearing all key-value pairs in the dictionary
d4.clear()
print(d4)

# Example 19: Creating a dictionary using dictionary comprehension
d5 = {x: x**2 for x in range(5)}
print(d5)

# Example 20: Sorting a dictionary by keys
d6 = {'b': 1, 'a': 2, 'c': 3}
sorted_d6 = dict(sorted(d6.items()))
print(sorted_d6)

# Example 21: Sorting a dictionary by values
sorted_d6_by_value = dict(sorted(d6.items(), key=lambda item: item[1]))
print(sorted_d6_by_value)

# Example 22: Getting the length of a dictionary
print(len(d6))

# Example 23: Using setdefault to get a value and set it if it doesn't exist
d6.setdefault('d', 4)
print(d6)

# Example 24: Using popitem to remove and return the last key-value pair
last_item = d6.popitem()
print(last_item)
print(d6)

# Example 25: Creating a nested dictionary
nested_dict = {'outer': {'inner': 42}}
print(nested_dict)
print(nested_dict['outer']['inner'])

{'a': 1, 'b': 2, 'c': 3}
1
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 10, 'b': 2, 'c': 3, 'd': 4}
{'a': 10, 'c': 3, 'd': 4}
3
{'a': 10, 'd': 4}
True
False
10
default_value
dict_keys(['a', 'd'])
dict_values([10, 4])
dict_items([('a', 10), ('d', 4)])
a
d
10
4
Key: a, Value: 10
Key: d, Value: 4
{'x': 0, 'y': 0, 'z': 0}
{'a': 10, 'd': 4, 'e': 5, 'f': 6}
{'a': 10, 'd': 4, 'e': 5, 'f': 6}
{}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{'a': 2, 'b': 1, 'c': 3}
{'b': 1, 'a': 2, 'c': 3}
3
{'b': 1, 'a': 2, 'c': 3, 'd': 4}
('d', 4)
{'b': 1, 'a': 2, 'c': 3}
{'outer': {'inner': 42}}
42

In [ ]:
# Example 26: Creating a dictionary with mixed data types
mixed_dict = {'integer': 1, 'float': 2.5, 'string': 'hello', 'list': [1, 2, 3]}
print(mixed_dict)

# Example 27: Creating a dictionary with a tuple as a key
tuple_key_dict = {(1, 2): 'value1', (3, 4): 'value2'}
print(tuple_key_dict)

# Example 28: Creating a dictionary with a frozenset as a key
frozenset_key_dict = {frozenset([1, 2, 3]): 'value1', frozenset([4, 5, 6]): 'value2'}
print(frozenset_key_dict)

# Example 29: Creating a dictionary with a boolean as a key
boolean_key_dict = {True: 'yes', False: 'no'}
print(boolean_key_dict)

# Example 30: Creating a dictionary with None as a key
none_key_dict = {None: 'nothing', 'key': 'value'}
print(none_key_dict)

# Example 31: Creating a dictionary with a function as a key
def my_func():
    return 'function_key'

function_key_dict = {my_func: 'value'}
print(function_key_dict)

# Example 32: Creating a dictionary with a class as a key
class MyClass:
    pass

class_key_dict = {MyClass: 'value'}
print(class_key_dict)

# Example 33: Creating a dictionary with a lambda function as a key
lambda_key_dict = {lambda x: x + 1: 'value'}
print(lambda_key_dict)

# Example 34: Creating a dictionary with a nested list as a value
nested_list_dict = {'key': [[1, 2], [3, 4]]}
print(nested_list_dict)

# Example 35: Creating a dictionary with a nested dictionary as a value
nested_dict_value = {'outer_key': {'inner_key': 'inner_value'}}
print(nested_dict_value)

# Example 36: Creating a dictionary with a set as a value
set_value_dict = {'key': {1, 2, 3}}
print(set_value_dict)

# Example 37: Creating a dictionary with a frozenset as a value
frozenset_value_dict = {'key': frozenset([1, 2, 3])}
print(frozenset_value_dict)

# Example 38: Creating a dictionary with a tuple as a value
tuple_value_dict = {'key': (1, 2, 3)}
print(tuple_value_dict)

# Example 39: Creating a dictionary with a boolean as a value
boolean_value_dict = {'key': True}
print(boolean_value_dict)

# Example 40: Creating a dictionary with None as a value
none_value_dict = {'key': None}
print(none_value_dict)

# Example 41: Creating a dictionary with a function as a value
def my_func_value():
    return 'function_value'

function_value_dict = {'key': my_func_value}
print(function_value_dict)

# Example 42: Creating a dictionary with a class as a value
class MyClassValue:
    pass

class_value_dict = {'key': MyClassValue}
print(class_value_dict)

# Example 43: Creating a dictionary with a lambda function as a value
lambda_value_dict = {'key': lambda x: x + 1}
print(lambda_value_dict)

# Example 44: Creating a dictionary with a nested dictionary as a key
nested_dict_key = {frozenset({'outer_key': 'inner_value'}): 'value'}
print(nested_dict_key)

# Example 45: Creating a dictionary with a list of dictionaries as a value
list_of_dicts_value = {'key': [{'a': 1}, {'b': 2}]}
print(list_of_dicts_value)

# Example 46: Creating a dictionary with a dictionary of lists as a value
dict_of_lists_value = {'key': {'a': [1, 2], 'b': [3, 4]}}
print(dict_of_lists_value)

# Example 47: Creating a dictionary with a dictionary of dictionaries as a value
dict_of_dicts_value = {'key': {'a': {'x': 1}, 'b': {'y': 2}}}
print(dict_of_dicts_value)

# Example 48: Creating a dictionary with a list of tuples as a value
list_of_tuples_value = {'key': [(1, 2), (3, 4)]}
print(list_of_tuples_value)

# Example 49: Creating a dictionary with a tuple of lists as a value
tuple_of_lists_value = {'key': ([1, 2], [3, 4])}
print(tuple_of_lists_value)

# Example 50: Creating a dictionary with a set of tuples as a value
set_of_tuples_value = {'key': {(1, 2), (3, 4)}}
print(set_of_tuples_value)

In [127]:
# Basic Operations
d = {'a': 1, 'b': 2, 'c': 3}
print(d['a'])  # Access
d['d'] = 4     # Add
d['a'] = 10    # Update
del d['b']     # Delete

# Dictionary Methods
print(d.get('a'))          # Get value for key 'a'
print(d.keys())            # Get all keys
print(d.values())          # Get all values
print(d.items())           # Get all key-value pairs
d.update({'e': 5, 'f': 6}) # Merge another dictionary
print(d.pop('a'))          # Remove and return value for key 'a'
print(d.popitem())         # Remove and return the last key-value pair
d.clear()                  # Clear all items
d_copy = d.copy()          # Create a shallow copy
d_fromkeys = dict.fromkeys(['x', 'y', 'z'], 0)  # Create a dictionary with default values
print(d_fromkeys)

# Dictionary Comprehensions
squares = {x: x*x for x in range(6)}
print(squares)

# Iterating Over Dictionaries
for key in d.keys():
    print(key)
for value in d.values():
    print(value)
for key, value in d.items():
    print(f"Key: {key}, Value: {value}")

# Nested Dictionaries
nested_dict = {'outer': {'inner': 42}}
print(nested_dict['outer']['inner'])

# Dictionary Merging
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
d1.update(d2)
print(d1)

# Dictionary Sorting
d = {'b': 1, 'a': 2, 'c': 3}
sorted_by_keys = dict(sorted(d.items()))
sorted_by_values = dict(sorted(d.items(), key=lambda item: item[1]))
print(sorted_by_keys)
print(sorted_by_values)

# Dictionary Keys and Values
print('a' in d)  # Check if key 'a' exists
print(d.get('d', 'default_value'))  # Get value for key 'd' with default

# Dictionary Performance
# Lookup, insertion, and deletion are O(1) on average

# Advanced Usage
# Counting frequency of elements in a list
elements = ['a', 'b', 'a', 'c', 'b', 'a']
frequency = {}
for element in elements:
    if element in frequency:
        frequency[element] += 1
    else:
        frequency[element] = 1
print(frequency)

# Grouping elements by a certain criterion
students = [
    {'name': 'Alice', 'grade': 'A'},
    {'name': 'Bob', 'grade': 'B'},
    {'name': 'Charlie', 'grade': 'A'},
]
grouped_by_grade = {}
for student in students:
    grade = student['grade']
    if grade not in grouped_by_grade:
        grouped_by_grade[grade] = []
    grouped_by_grade[grade].append(student['name'])
print(grouped_by_grade)

1
10
dict_keys(['a', 'c', 'd'])
dict_values([10, 3, 4])
dict_items([('a', 10), ('c', 3), ('d', 4)])
10
('f', 6)
{'x': 0, 'y': 0, 'z': 0}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
42
{'a': 1, 'b': 3, 'c': 4}
{'a': 2, 'b': 1, 'c': 3}
{'b': 1, 'a': 2, 'c': 3}
True
default_value
{'a': 3, 'b': 2, 'c': 1}
{'A': ['Alice', 'Charlie'], 'B': ['Bob']}

In [128]:
from collections import defaultdict

# Example 51: How to merge two dictionaries in Python 3.9+?
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
merged_dict = d1 | d2
print(merged_dict)  # Output: {'a': 1, 'b': 3, 'c': 4}

# Example 52: How to iterate over dictionary keys and values simultaneously?
d = {'a': 1, 'b': 2, 'c': 3}
for key, value in d.items():
    print(f"Key: {key}, Value: {value}")

# Example 53: How to create a dictionary with default values using defaultdict?
dd = defaultdict(int)
dd['a'] += 1
print(dd)  # Output: defaultdict(<class 'int'>, {'a': 1})

# Example 54: How to remove a key from a dictionary safely?
d = {'a': 1, 'b': 2, 'c': 3}
value = d.pop('b', None)
print(value)  # Output: 2
print(d)      # Output: {'a': 1, 'c': 3}

# Example 55: How to check if a dictionary is empty?
d = {}
is_empty = not bool(d)
print(is_empty)  # Output: True

# Example 56: How to get the maximum and minimum key in a dictionary?
d = {'a': 1, 'b': 2, 'c': 3}
max_key = max(d)
min_key = min(d)
print(f"Max key: {max_key}, Min key: {min_key}")  # Output: Max key: c, Min key: a

# Example 57: How to get the maximum and minimum value in a dictionary?
d = {'a': 1, 'b': 2, 'c': 3}
max_value = max(d.values())
min_value = min(d.values())
print(f"Max value: {max_value}, Min value: {min_value}")  # Output: Max value: 3, Min value: 1

{'a': 1, 'b': 3, 'c': 4}
Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3
defaultdict(<class 'int'>, {'a': 1})
2
{'a': 1, 'c': 3}
True
Max key: c, Min key: a
Max value: 3, Min value: 1
{1: 'a', 2: 'b', 3: 'c'}
{'a': 3, 'b': 2, 'c': 1}

In [140]:
# Example 58: How to invert a dictionary (swap keys and values)?
d = {'a': 1, 'b': 2, 'c': 3}
inverted_dict = {v: k for k, v in d.items()}
print(inverted_dict)  # Output: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

In [139]:
# Example 59: How to count the frequency of elements in a list using a dictionary?
elements = ['a', 'b', 'a', 'c', 'b', 'a']
frequency = {}
for element in elements:
    frequency[element] = frequency.get(key, 0) + 1
print(frequency)  # Output: {'a': 3, 'b': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 1}

In [129]:
# Example 60: How to merge multiple dictionaries?
d1 = {'a': 1}
d2 = {'b': 2}
d3 = {'c': 3}
merged_dict = {**d1, **d2, **d3}
print(merged_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [133]:
d1.update(d2)
d2.update(d3)
d1

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
import math
import math
import math
import unicodedata

# Example 61: How to create a dictionary from two lists?
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dict_from_lists = dict(zip(keys, values))
print(dict_from_lists)  # Output: {'a': 1, 'b': 2, 'c': 3}

# Example 62: How to filter a dictionary based on its values?
d = {'a': 1, 'b': 2, 'c': 3}
filtered_dict = {k: v for k, v in d.items() if v > 1}
print(filtered_dict)  # Output: {'b': 2, 'c': 3}

# Example 63: How to merge dictionaries with a common key by summing their values?
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
merged_dict = {k: d1.get(k, 0) + d2.get(k, 0) for k in set(d1) | set(d2)}
print(merged_dict)  # Output: {'a': 1, 'b': 5, 'c': 4}

# Example 64: How to create a dictionary from a list of tuples?
tuples = [('a', 1), ('b', 2), ('c', 3)]
dict_from_tuples = dict(tuples)
print(dict_from_tuples)  # Output: {'a': 1, 'b': 2, 'c': 3}

# Convert dictionary to a list of tuples
dict_as_tuples = list(d.items())
print(dict_as_tuples)  # Output: [('a', 1), ('b', 2), ('c', 3)]

# Example 65: How to create a dictionary with default values using dict.fromkeys()?
keys = ['a', 'b', 'c']
default_value = 0
default_dict = dict.fromkeys(keys, default_value)
print(default_dict)  # Output: {'a': 0, 'b': 0, 'c': 0}

# Example 66: How to create a dictionary with keys from a list and values from another list?
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dict_from_lists = {k: v for k, v in zip(keys, values)}
print(dict_from_lists)  # Output: {'a': 1, 'b': 2, 'c': 3}

# Example 67: How to create a dictionary with keys from a list and a constant value?
keys = ['a', 'b', 'c']
constant_value = 0
dict_with_constant_value = {k: constant_value for k in keys}
print(dict_with_constant_value)  # Output: {'a': 0, 'b': 0, 'c': 0}

# Example 68: How to create a dictionary with keys from a list and values as their lengths?
words = ['apple', 'banana', 'cherry']
dict_with_lengths = {word: len(word) for word in words}
print(dict_with_lengths)  # Output: {'apple': 5, 'banana': 6, 'cherry': 6}

# Example 69: How to create a dictionary with keys from a list and values as their squares?
numbers = [1, 2, 3, 4, 5]
dict_with_squares = {num: num**2 for num in numbers}
print(dict_with_squares)  # Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Example 70: How to create a dictionary with keys from a list and values as their cubes?
numbers = [1, 2, 3, 4, 5]
dict_with_cubes = {num: num**3 for num in numbers}
print(dict_with_cubes)  # Output: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

# Example 71: How to create a dictionary with keys from a list and values as their factorials?
numbers = [1, 2, 3, 4, 5]
dict_with_factorials = {num: math.factorial(num) for num in numbers}
print(dict_with_factorials)  # Output: {1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

# Example 72: How to create a dictionary with keys from a list and values as their logarithms?
numbers = [1, 2, 3, 4, 5]
dict_with_logs = {num: math.log(num) for num in numbers}
print(dict_with_logs)  # Output: {1: 0.0, 2: 0.6931471805599453, 3: 1.0986122886681098, 4: 1.3862943611198906, 5: 1.6094379124341003}

# Example 73: How to create a dictionary with keys from a list and values as their square roots?
numbers = [1, 2, 3, 4, 5]
dict_with_sqrt = {num: math.sqrt(num) for num in numbers}
print(dict_with_sqrt)  # Output: {1: 1.0, 2: 1.4142135623730951, 3: 1.7320508075688772, 4: 2.0, 5: 2.23606797749979}

# Example 74: How to create a dictionary with keys from a list and values as their reciprocals?
numbers = [1, 2, 3, 4, 5]
dict_with_reciprocals = {num: 1/num for num in numbers}
print(dict_with_reciprocals)  # Output: {1: 1.0, 2: 0.5, 3: 0.3333333333333333, 4: 0.25, 5: 0.2}

# Example 75: How to create a dictionary with keys from a list and values as their binary representations?
numbers = [1, 2, 3, 4, 5]
dict_with_binaries = {num: bin(num) for num in numbers}
print(dict_with_binaries)  # Output: {1: '0b1', 2: '0b10', 3: '0b11', 4: '0b100', 5: '0b101'}

# Example 76: How to create a dictionary with keys from a list and values as their hexadecimal representations?
numbers = [1, 2, 3, 4, 5]
dict_with_hex = {num: hex(num) for num in numbers}
print(dict_with_hex)  # Output: {1: '0x1', 2: '0x2', 3: '0x3', 4: '0x4', 5: '0x5'}

# Example 77: How to create a dictionary with keys from a list and values as their octal representations?
numbers = [1, 2, 3, 4, 5]
dict_with_octal = {num: oct(num) for num in numbers}
print(dict_with_octal)  # Output: {1: '0o1', 2: '0o2', 3: '0o3', 4: '0o4', 5: '0o5'}

# Example 78: How to create a dictionary with keys from a list and values as their ASCII characters?
numbers = [65, 66, 67, 68, 69]
dict_with_ascii = {num: chr(num) for num in numbers}
print(dict_with_ascii)  # Output: {65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E'}

# Example 79: How to create a dictionary with keys from a list and values as their Unicode names?
characters = ['A', 'B', 'C', 'D', 'E']
dict_with_unicode_names = {char: unicodedata.name(char) for char in characters}
print(dict_with_unicode_names)  # Output: {'A': 'LATIN CAPITAL LETTER A', 'B': 'LATIN CAPITAL LETTER B', 'C': 'LATIN CAPITAL LETTER C', 'D': 'LATIN CAPITAL LETTER D', 'E': 'LATIN CAPITAL LETTER E'}

# Example 80: How to create a dictionary with keys from a list and values as their Unicode codes?
characters = ['A', 'B', 'C', 'D', 'E']
dict_with_unicode_codes = {char: ord(char) for char in characters}
print(dict_with_unicode_codes)  # Output: {'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69}

# Example 81: How to create a dictionary with keys from a list and values as their lengths?
words = ['apple', 'banana', 'cherry']
dict_with_lengths = {word: len(word) for word in words}
print(dict_with_lengths)  # Output: {'apple': 5, 'banana': 6, 'cherry': 6}

# Example 82: How to create a dictionary with keys from a list and values as their reversed strings?
words = ['apple', 'banana', 'cherry']
dict_with_reversed = {word: word[::-1] for word in words}
print(dict_with_reversed)  # Output: {'apple': 'elppa', 'banana': 'ananab', 'cherry': 'yrrehc'}

# Example 83: How to create a dictionary with keys from a list and values as their uppercase strings?
words = ['apple', 'banana', 'cherry']
dict_with_uppercase = {word: word.upper() for word in words}
print(dict_with_uppercase)  # Output: {'apple': 'APPLE', 'banana': 'BANANA', 'cherry': 'CHERRY'}

# Example 84: How to create a dictionary with keys from a list and values as their lowercase strings?
words = ['APPLE', 'BANANA', 'CHERRY']
dict_with_lowercase = {word: word.lower() for word in words}
print(dict_with_lowercase)  # Output: {'APPLE': 'apple', 'BANANA': 'banana', 'CHERRY': 'cherry'}

# Example 85: How to create a dictionary with keys from a list and values as their title-cased strings?
words = ['apple', 'banana', 'cherry']
dict_with_titlecase = {word: word.title() for word in words}
print(dict_with_titlecase)  # Output: {'apple': 'Apple', 'banana': 'Banana', 'cherry': 'Cherry'}

In [142]:
list= [1,2,3,4,5]
result = {}
for num in list:
    result[num]=num**3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [145]:
result = {num:num**3 for num in list}
result

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [147]:
fruits =[1,2,2,3,4,5,6,6,5,3,45,6,5,6,4,2,1]
freq = {}
for i in range(len(fruits)):
    freq[fruits[i]]=freq.get(fruits[i],0) +1
print(freq)

{1: 2, 2: 3, 3: 2, 4: 2, 5: 3, 6: 4, 45: 1}

In [154]:
freq = {fruit: fruits.count(fruit) for fruit in set(fruits)}
freq

{1: 2, 2: 3, 3: 2, 4: 2, 5: 3, 6: 4, 45: 1}

In [148]:
for i in fruits:
    if i in freq:
        freq[i] +=1
    else:
        freq[i] = 1
print(freq)

{1: 4, 2: 6, 3: 4, 4: 4, 5: 6, 6: 8, 45: 2}

In [192]:
lists = [1,2,3,4,5,6,7,8,9,10]
target = 6
result = {}
list = []
for i, num in enumerate(lists):
    complement = target - num
    if complement in result:
        list.append(print((result[complement], i)))
    result[num] = i
print(list)

(1, 3)
(0, 4)
[None, None]

In [152]:
fruit = ["apple", "banana", "cherry", "mango"]

dict1  = {}

for i in fruit:
        if "a" in dict1:
            dict1['a'] +=1
        else:
            dict1['a'] = 1
print(dict1)

{'a': 4}