In [1]:
s = {}

blank set return type dictionary

In [2]:
type(s)

dict

In [3]:
s={1,2,3,45,6,6}
type(s)

set

Remove Duplicates

In [4]:
s1={1,1,2,3,4,5,5,2,3,45,6,44,55,55,55}
s1

{1, 2, 3, 4, 5, 6, 44, 45, 55}

In [5]:
# in file extract unique words easily
#set always try to hold unique elements

In [6]:
# conver set to list, list to tuple, 
s2={1,2,32,3,4,2,1,4,5,6}
l= list(s2)
print(f"list: {l}")
t= tuple(s2)
print(f"tuple: {t}")
print(f"set: {s2}")

list: [32, 1, 2, 3, 4, 5, 6]
tuple: (32, 1, 2, 3, 4, 5, 6)
set: {32, 1, 2, 3, 4, 5, 6}

Unhashable type list

In [9]:
s3 = {1,3,4,5,5,[1,2,3,4,5]}

TypeError: unhashable type: 'list'

In [10]:
s3 = {1,3,4,5,5,(1,2,3,4,5)}

In [11]:
s4 = {"Bapu", "bapu", 2,3,4,5, "kokare","kokare"}
s4

{2, 3, 4, 5, 'Bapu', 'bapu', 'kokare'}

In [13]:
# index concept
s5 = {1,2,3,4,55,6,"Bapu"}
s6= list(s5)
s6[4]

55

In [14]:
s5[0]

TypeError: 'set' object is not subscriptable

In [18]:
s7 = {2,3,4,5,66,'Bapu'}
for i in s7:
    print(i)

2
66
3
4
5
Bapu

In [19]:
s7.add(56)
s7

{2, 3, 4, 5, 56, 66, 'Bapu'}

In [20]:
#if element already available it will not add element
s7.add(2)
s7

{2, 3, 4, 5, 56, 66, 'Bapu'}

In [21]:
len(s7)

7

In [24]:
s7.pop()
s7

{3, 4, 5, 56, 'Bapu'}

In [23]:
s7.pop()
s7

{3, 4, 5, 56, 66, 'Bapu'}

In [25]:
# remove and adding in sets is possible

In [26]:
#create empy set
s7.clear()
s7

set()

In [28]:
#check difference in two sets
s8={1,2,3,4,5}
s9={1,2,3}
s9.difference(s8)

set()

In [29]:
s9.difference(s8)

set()

# More Interview Questions on Sets

1. **What is a set in Python and how is it different from a list?**
- A set is an unordered collection of unique elements. Unlike lists, sets do not allow duplicate elements and do not maintain any order.

2. **How do you create a set in Python?**
    - You can create a set by using curly braces `{}` or the `set()` function. Example:
      ```python
      my_set = {1, 2, 3}
      another_set = set([4, 5, 6])
      ```

3 . **How can you add elements to a set?**
    - You can add elements to a set using the `add()` method. Example:
      ```python
      my_set.add(4)
      ```

4. **How can you remove elements from a set?**
    - You can remove elements using the `remove()` or `discard()` methods. Example:
      ```python
      my_set.remove(2)  # Raises KeyError if element is not found
      my_set.discard(3)  # Does not raise an error if element is not found
      ```

5. **What is the difference between `remove()` and `discard()` methods in sets?**
    - The `remove()` method raises a `KeyError` if the element is not found in the set, whereas the `discard()` method does not raise an error if the element is not found.

6. **How do you find the union of two sets?**
    - You can find the union of two sets using the `union()` method or the `|` operator. Example:
      ```python
      set1 = {1, 2, 3}
      set2 = {3, 4, 5}
      union_set = set1.union(set2)
      # or
      union_set = set1 | set2
      ```

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

7. **How do you find the intersection of two sets?**
    - You can find the intersection of two sets using the `intersection()` method or the `&` operator. Example:
      ```python
      intersection_set = set1.intersection(set2)
      # or
      intersection_set = set1 & set2
      ```

In [36]:
intersection_set = set1 & set2

8. **How do you find the difference between two sets?**
    - You can find the difference between two sets using the `difference()` method or the `-` operator. Example:
      ```python
      difference_set = set1.difference(set2)
      # or
      difference_set = set1 - set2
      ```

In [38]:
difference_set = set1 - set2
difference_set

{1, 2}

9. **How do you find the symmetric difference between two sets?**
    - You can find the symmetric difference using the `symmetric_difference()` method or the `^` operator. Example:
      ```python
      sym_diff_set = set1.symmetric_difference(set2)
      # or
      sym_diff_set = set1 ^ set2
      ```

In [40]:
symmetric_difference_set = set1 ^ set2
symmetric_difference_set

{1, 2, 4, 5}

10. **Can you store a list or a dictionary in a set? Why or why not?**
     - No, you cannot store a list or a dictionary in a set because they are mutable and not hashable. Sets require their elements to be hashable.

11. **How do you check if a set is a subset of another set?**
     - You can check if a set is a subset of another set using the `issubset()` method or the `<=` operator. Example:
        ```python
        set1 = {1, 2, 3}
        set2 = {1, 2, 3, 4, 5}
        is_subset = set1.issubset(set2)
        # or
        is_subset = set1 <= set2

In [42]:
is_Subset = set1 <= set2
is_Subset

False

12. **How do you check if a set is a superset of another set?**
     - You can check if a set is a superset of another set using the `issuperset()` method or the `>=` operator. Example:
        ```python
        is_superset = set2.issuperset(set1)
        # or
        is_superset = set2 >= set1
        ```

In [43]:
is_Superset = set1 >= set2
is_Superset

False

13. **What is a frozen set?**
     - A frozen set is an immutable version of a set. You can create a frozen set using the `frozenset()` function. Example:
        ```python
        frozen_set = frozenset([1, 2, 3])
        ```
      - Frozen sets are useful in situations where you need a set that should not be modified after creation. They can be used as keys in dictionaries or elements of other sets because they are hashable.

In [44]:
frozen_set = frozenset([1, 2, 3, 4, 5])

14. **How do you iterate over elements in a set?**
     - You can iterate over elements in a set using a `for` loop. Example:
        ```python
        for element in my_set:
             print(element)
        ```

In [45]:
for element in set1:
    print(element)

1
2
3

15. **How do you find the length of a set?**
     - You can find the length of a set using the `len()` function. Example:
        ```python
        length = len(my_set)
        ```


15. **How do you find the length of a set?**
     - You can find the length of a set using the `len()` function. Example:
        ```python
        length = len(my_set)
        ```

In [33]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
# or
#union_set = set1 | set2

union_set

{1, 2, 3, 4, 5}

# More Medium and Complex Interview Questions on Sets

16. **How do you check if two sets are disjoint?**
    - You can check if two sets are disjoint using the `isdisjoint()` method. Example:
      ```python
      set1 = {1, 2, 3}
      set2 = {4, 5, 6}
      are_disjoint = set1.isdisjoint(set2)
      ```

In the context of sets, "disjoint" means that two sets have no elements in common. If two sets are disjoint, their intersection is an empty set.

In [47]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
are_disjoint

False

17. **How do you find the Cartesian product of two sets?**
    - You can find the Cartesian product of two sets using a nested loop or the `itertools.product` function. Example:
      ```python
      import itertools
      set1 = {1, 2}
      set2 = {3, 4}
      cartesian_product = set(itertools.product(set1, set2))
      ```

In [50]:
import itertools
set1 = {1, 2, 3}
set2 = {4, 5, 6}
cartesian_product = set(itertools.product(set1, set2))
cartesian_product

{(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)}

18. **How do you perform set operations on more than two sets?**
    - You can perform set operations on more than two sets using methods like `union()`, `intersection()`, and `difference()`. Example:
      ```python
      set1 = {1, 2, 3}
      set2 = {3, 4, 5}
      set3 = {5, 6, 7}
      union_all = set1.union(set2, set3)
      intersection_all = set1.intersection(set2, set3)
      ```

In [52]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
union_all = set1.union(set2, set3)
print("::",union_all)
intersection_all = set1.intersection(set2, set3)
intersection_all

:: {1, 2, 3, 4, 5, 6, 7}

set()

19. **How do you remove all elements from a set that are present in another set?**
    - You can remove all elements from a set that are present in another set using the `difference_update()` method. Example:
      ```python
      set1 = {1, 2, 3, 4, 5}
      set2 = {3, 4}
      set1.difference_update(set2)
      ```

In [53]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
set1.difference_update(set2)

20. **How do you find the maximum and minimum values in a set?**
    - You can find the maximum and minimum values in a set using the `max()` and `min()` functions. Example:
      ```python
      my_set = {1, 2, 3, 4, 5}
      max_value = max(my_set)
      min_value = min(my_set)
      ```

In [55]:
my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
print('max', max_value)
min_value = min(my_set)
print('min', min_value)

max 5
min 1

21. **How do you create a set of sets?**
    - You can create a set of sets by using `frozenset` for the inner sets since sets themselves are not hashable. Example:
      ```python
      set_of_sets = {frozenset({1, 2}), frozenset({3, 4})}
      ```

In [59]:
set_of_sets = {frozenset({1, 2}), frozenset({3, 4})}
for i in set_of_sets:
    print(i, type(i))

frozenset({3, 4}) <class 'frozenset'>
frozenset({1, 2}) <class 'frozenset'>

22. **How do you find common elements in multiple sets?**
    - You can find common elements in multiple sets using the `intersection()` method. Example:
      ```python
      set1 = {1, 2, 3}
      set2 = {2, 3, 4}
      set3 = {3, 4, 5}
      common_elements = set1.intersection(set2, set3)
      ```

In [60]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3 = {3, 4, 5}
common_elements = set1.intersection(set2, set3)
common_elements

{3}

23. **How do you find elements that are in one set but not in another?**
    - You can find elements that are in one set but not in another using the `difference()` method. Example:
      ```python
      set1 = {1, 2, 3, 4, 5}
      set2 = {3, 4, 5, 6, 7}
      unique_to_set1 = set1.difference(set2)
      ```

In [61]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
unique_to_set1 = set1.difference(set2)
unique_to_set1

{1, 2}

24. **How do you update a set with elements from another set?**
    - You can update a set with elements from another set using the `update()` method. Example:
      ```python
      set1 = {1, 2, 3}
      set2 = {4, 5}
      set1.update(set2)
      ```

In [62]:
set1 = {1, 2, 3}
set2 = {4, 5}
set1.update(set2)

25. **How do you find the length of the longest set in a list of sets?**
    - You can find the length of the longest set in a list of sets using the `max()` function with a key argument. Example:
      ```python
      
      sets = [{1, 2}, {1, 2, 3, 4}, {1}]
      longest_set_length = max(sets, key=len)
      ```
```

In [64]:
sets = [{1, 2}, {1, 2, 3, 4}, {1}]
longest_set_length = max(sets, key=len)
longest_set_length

{1, 2, 3, 4}

import itertools

26. **How do you find the power set of a set?**
    - You can find the power set (the set of all subsets) of a set using the `itertools.chain` and `itertools.combinations` functions. Example:
      ```python

      def power_set(s):
          return set(itertools.chain.from_iterable(itertools.combinations(s, r) for r in range(len(s)+1)))

      my_set = {1, 2, 3}
      power_set_result = power_set(my_set)
      ```
    my_set = {1, 2, 3}
    power_set_result = power_set(my_set)
    power_set_result

In [66]:
def power_set(s):
    return set(itertools.chain.from_iterable(itertools.combinations(s, r) for r in range(len(s)+1)))

my_set = {1, 2, 3}
power_set_result = power_set(my_set)
power_set_result

{(), (1,), (1, 2), (1, 2, 3), (1, 3), (2,), (2, 3), (3,)}