In [1]:
T = tuple()

In [13]:
type(T)

tuple

In [2]:
t=()

In [3]:
type(t)

tuple

In [15]:
t= (1,2,3,4,5,"bapu", "raj",True,False)
t

(1, 2, 3, 4, 5, 'bapu', 'raj', True, False)

In [16]:
l = []

In [17]:
type(l)

list

In [18]:
# extract 1 from tuple
t[0]

1

In [20]:
t[0]

1

In [21]:
t= (1,2,3,4,5,"bapu", "raj",True,False)
t[7]

True

In [22]:
#reverse of tuple
t[::-1]

(False, True, 'raj', 'bapu', 5, 4, 3, 2, 1)

In [23]:
#slicing operation 
t[0:3]

(1, 2, 3)

In [25]:
# check tuple repeatation
t=()
t.count(4)
t

()

In [32]:
#index operation 
"""

The `index` method is used to find the first occurrence of a specified value in the tuple.

Usage:
"""
t= (1,2,3,4,5,"bapu", "raj",True,False)
t.index(4) #
t.index("raj")

6

In [29]:
t.index(True)

ValueError: tuple.index(x): x not in tuple

\nin tuple index wise we can not change variable value otherwise you will get item assignment error
\ntuple are immuatable entity 
\nlist are mutable

for i int t:
    print(i)

In [29]:
for i in t:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
bapu
<class 'str'>
raj
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>

In [33]:
# Convert tuple to list
temp_list = list(t)

# Change the value (for example, change the first element to 'new_value')
temp_list[0] = 'new_value'

# Convert list back to tuple
t = tuple(temp_list)

# Print the modified tuple
print(t)

('new_value', 2, 3, 4, 5, 'bapu', 'raj', True, False)

In [30]:
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [34]:
t1= (1,2,3,45)
t2=(2,3,4,56)
t3=(t1,t2)
t3

((1, 2, 3, 45), (2, 3, 4, 56))

In [35]:
# update  and mutate is not posible, 
del(t3)
t3

NameError: name 't3' is not defined